.book-page-image{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.page-background{

    background: url('/storage/page-img-background/page-img-background.jpg') no-repeat fixed center;
}

